# executables
*.exe
*.out
*.o
*.obj
*.pdb
*.ilk
*.idb

# build
build/

# vscode temp
.vscode/*.log

# system
.DS_Store

# Visual Studio / MSBuild artifacts
.vs/
x64/
Engine/x64/
*.ipch
*.tlog
*.lastbuildstate
*.recipe
*.suo
*.user
*.vcxproj.filters
